<h1 class="home-title">D3.js Charts Highlights</h1>
<p class="home-subtitle">Welcome to my D3.js charts showcase.</p>

<!-- <app-simple-three-d-carroussel [depth]="260" [data]="carrousselData" speed="16s" class="home-carroussel">

</app-simple-three-d-carroussel> -->

<ul class="tiles">
	<li routerLink="/register">    
		<h4 class="tile-title">Register form</h4>    
	</li>
  
	<li routerLink="/pipes">    
		<h4 class="tile-title">Angular built-in and custom pipes</h4>    
	</li>
  
	<li routerLink="/charts">    
		<h4 class="tile-title">Charts samples</h4>    
	</li>
  
	<li routerLink="/algorithms">    
		<h4 class="tile-title">Algorithms</h4>    
	</li>
  
	<li routerLink="/rxjs-playground">    
		<h4 class="tile-title">Rxjs Playground</h4>    
	</li>
  
	<li *ngFor="let star of stars">{{star}}</li>

</ul>
<p>

<ng-template *ngFor="let star of stars">
	<span>-- {{star}} --</span>
</ng-template>
  
	

<a target="_blank" href="https://stackblitz.com/edit/itamar-serafim-angular6-playground?file=src%2Fapp%2Fforms%2Fforms.component.scss">Other app</a>
</p>