<h3>
Can I unsubscribe many times withou any problem?
</h3>
subscribed {{countSubscriptions}} time to the same observable
<p class="d-flex">
  <button  mat-raised-button (click)="createSubscription()" color="primary">Subscribe</button>
  <button mat-raised-button (click)="unsubscribe()" color="primary">Unsubscribe</button>
</p>
<h2>Angular 11 new Features</h2>
 <pre>
 ) Faster Builds
 ) Improved Reporting and Logging
 ) Removed support for  IE9/IE10 and IE mobile
 ) Automatic Inlining of Fonts
 ) Experimental support for webpack 5
 ) HMR - Withoutrefreshing the page. Maintains scroll position. Data in inputs are preserved
 ) Updated Language Service Preview - Better inferrence of generic types
 ) 
</pre>
<a href="https://www.angularminds.com/blog/article/comparison-between-angular-10-vs-angular-11.html" target="_blank">https://www.angularminds.com/blog/article/comparison-between-angular-10-vs-angular-11.html</a>