<ngx-graph
  [draggingEnabled]="true"
  [showMiniMap]="true"
  class="chart-container"
  [view]="[800, 550]"
  [links]="links"
  [nodes]="nodes"
  [clusters]="[
    {
      id: 'third',
      label: 'Cluster node',
      childNodeIds: ['c1', 'c2']
    },
    {
      id: 'fourth',
      label: 'Cluster node',
      childNodeIds: ['first', 'second']
    },
  ]"
  layout="dagreCluster"
>
  <ng-template #defsTemplate>
  <svg:g>
    <svg:g *ngFor="let node of nodes">
    <foreignObject x="0" y="0" width="100" height="100">
      <div style="position: fixed; font-size: 10px;box-shadow: 2px 2px 12px 1px #343434;" xmlns="http://www.w3.org/1999/xhtml">
        <p class="red d-icon-sort">{{node | json}}</p>
      </div>
    </foreignObject>  
    </svg:g>
  </svg:g>
    <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
      <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
    </svg:marker>
  </ng-template>

  <ng-template #clusterTemplate let-cluster>
    <svg:g class="node cluster">
      <svg:rect
        rx="5"
        ry="5"
        [attr.width]="cluster.dimension.width"
        [attr.height]="cluster.dimension.height"
        [attr.fill]="cluster.data.color"
      />
      
      <svg:text class="cluster-title" alignment-baseline="central" [attr.x]="(cluster.dimension.width / 2 ) - 30" [attr.y]="20">
       {{cluster.label}}
      </svg:text>
      
    </svg:g>
  </ng-template>

  <ng-template #nodeTemplate let-node>
    <svg:g graphCustomNode [node]="node"></svg:g>
  </ng-template>

  <ng-template #linkTemplate let-link>
    <svg:g class="edge">
      <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
      <svg:text class="edge-label" text-anchor="middle">
        <textPath
          class="text-path"
          [attr.href]="'#' + link.id"
          [style.dominant-baseline]="link.dominantBaseline"
          startOffset="50%"
        >
          {{link.label}}
        </textPath>
      </svg:text>
    </svg:g>
  </ng-template>
</ngx-graph>