
<div class="page-container">
  <mat-list class="side-nav-wrap" >
    <mat-list-item class="nav-item mat-elevation-z2" routerLink="prime-spiral"> Prime Spiral </mat-list-item>
    <mat-list-item class="nav-item mat-elevation-z2"  routerLink="custom-pipes"> 
       Custom Pipes
    </mat-list-item>
    <mat-list-item mat-raised-button class="nav-item mat-elevation-z2"  routerLink="angular-common-issues"> 
      Angular Common Issues
    </mat-list-item>
    <mat-list-item mat-raised-button class="nav-item mat-elevation-z2"  routerLink="ngx-graph-test"> 
      Ngx-graph-test
    </mat-list-item>    
		
  </mat-list>
  <div>
    <router-outlet> </router-outlet> 
  </div>
</div>