
  .page-container{ display: flex; gap: 1em;}
  .side-nav-wrap{
    min-width: 260px;
    padding: 0;
  }
  .link-item{ padding:.25em 0}
  .nav-item {
    cursor: pointer;
    margin-botom: .5em;
    border-radius: 4px;
    &:hover {
      background-color: lightgreen;
    }

  }