
<h3>App alerts are at your sevice!</h3>  
<app-alert 
	[config]="{
		context: 'primary',
		title: 'Title',
		content: 'The content goes here!'
	}" 
	(close)="onAlertClose()" ></app-alert>
<app-alert
	[config]="{
		context: 'secondary',
		title: 'Title',
		content: 'The content goes here!'
	}"  (close)="onAlertClose()" ></app-alert>
<app-alert
	[config]="{
		context: 'success',
		title: 'Title',
		content: 'The content goes here!'
	}"  (close)="onAlertClose()" ></app-alert>
<app-alert
	[config]="{
		context: 'danger',
		title: 'Title',
		content: 'The content goes here!'
	}"  (close)="onAlertClose()" ></app-alert>
<app-alert
	[config]="{
		context: 'warning',
		title: 'Title',
		content: 'The content goes here!'
	}"  (close)="onAlertClose()" ></app-alert>
<app-alert
	[config]="{
		context: 'info',
		title: 'Title',
		content: 'The content goes here!'
	}"  (close)="onAlertClose()" ></app-alert>
<app-alert
	[config]="{
		context: 'light',
		title: 'Title',
		content: 'The content goes here!'
	}"  (close)="onAlertClose()" ></app-alert>
<app-alert
	[config]="{
		context: 'dark',
		title: 'Title',
		content: 'The content goes here!'
	}"  (close)="onAlertClose()" ></app-alert>